# Flow colorscheme | Ghostty
# https://github.com/0xstepit/flow.nvim

background = #1f282e
foreground = #d1dbe0
# black
palette = 0=#0d0d0d
palette = 8=#0d0d0d
# red
palette = 1=#db7079
palette = 9=#db7079
# green
palette = 2=#79db70
palette = 10=#79db70
# yellow
palette = 3=#dbdb70
palette = 11=#dbdb70
# blue
palette = 4=#70afdb
palette = 12=#70afdb
# purple
palette = 5=#a670db
palette = 13=#a670db
# aqua
palette = 6=#70dbc1
palette = 14=#70dbc1
# white
palette = 7=#f2f2f2
palette = 15=#f2f2f2

cursor-color = #15ff00
selection-background = #15ff00
selection-foreground = #0d0d0d
