# Flow colorscheme | Ghostty
# https://github.com/0xstepit/flow.nvim

background = #d1dbe0
foreground = #3d505c
# black
palette = 0=#f2f2f2
palette = 8=#f2f2f2
# red
palette = 1=#862d34
palette = 9=#862d34
# green
palette = 2=#34862d
palette = 10=#34862d
# yellow
palette = 3=#86862d
palette = 11=#86862d
# blue
palette = 4=#2d6186
palette = 12=#2d6186
# purple
palette = 5=#592d86
palette = 13=#592d86
# aqua
palette = 6=#2d8670
palette = 14=#2d8670
# white
palette = 7=#0d0d0d
palette = 15=#0d0d0d

cursor-color = #ff6a00
selection-background = #ff6a00
selection-foreground = #f2f2f2
