# Flow colorscheme | Ghostty
# https://github.com/0xstepit/flow.nvim

background = #d1dbe0
foreground = #282f33
# black
palette = 0=#f2f2f2
palette = 8=#f2f2f2
# red
palette = 1=#ba5e66
palette = 9=#ba5e66
# green
palette = 2=#66ba5e
palette = 10=#66ba5e
# yellow
palette = 3=#baba5e
palette = 11=#baba5e
# blue
palette = 4=#5e94ba
palette = 12=#5e94ba
# purple
palette = 5=#8c5eba
palette = 13=#8c5eba
# aqua
palette = 6=#5ebaa3
palette = 14=#5ebaa3
# white
palette = 7=#0d0d0d
palette = 15=#0d0d0d

cursor-color = #15ff00
selection-background = #15ff00
selection-foreground = #f2f2f2
