# Flow colorscheme | Ghostty
# https://github.com/0xstepit/flow.nvim

background = #1f282e
foreground = #d1dbe0
# black
palette = 0=#0d0d0d
palette = 8=#0d0d0d
# red
palette = 1=#c98288
palette = 9=#c98288
# green
palette = 2=#88c982
palette = 10=#88c982
# yellow
palette = 3=#c9c982
palette = 11=#c9c982
# blue
palette = 4=#82acc9
palette = 12=#82acc9
# purple
palette = 5=#a682c9
palette = 13=#a682c9
# aqua
palette = 6=#82c9b8
palette = 14=#82c9b8
# white
palette = 7=#f2f2f2
palette = 15=#f2f2f2

cursor-color = #15ff00
selection-background = #15ff00
selection-foreground = #0d0d0d
