# Flow colorscheme | Ghostty
# https://github.com/0xstepit/flow.nvim

background = #1b2228
foreground = #b3c1cc
# black
palette = 0=#0d0d0d
palette = 8=#0d0d0d
# red
palette = 1=#d98c93
palette = 9=#d98c93
# green
palette = 2=#93d98c
palette = 10=#93d98c
# yellow
palette = 3=#d9d28c
palette = 11=#d9d28c
# blue
palette = 4=#8cb9d9
palette = 12=#8cb9d9
# purple
palette = 5=#ac8cd9
palette = 13=#ac8cd9
# aqua
palette = 6=#8cd9d2
palette = 14=#8cd9d2
# white
palette = 7=#f2f2f2
palette = 15=#f2f2f2

cursor-color = #ff007b
selection-background = #0d0d0d
selection-foreground = #ff007b
